/*
  - Generic classes (body, a, p, h1, etc.)
  - header
  - view
  - layout
  - Card general
  - Card list
  - Card readonly
  - Card editable

Properties:
 - margin between columns: 10px
 - Card width: 345px
 - Card colour: #fafafa
 - Focused button colour: #e1e1e1



ref:  http://www.hexcolortool.com/#fafafa
*/

/**** - Resets *****/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/**** - Generic classes (body, a, p, h1, etc.) *****/

.card input[type="text"], .card textarea, .card input[type="text"]:focus, .card textarea:focus 
{
  border: none !important;
  outline: 0 none;
}

/**** - header
*/

.header {
  background-color: #fafafa; /* same colour as the cards */
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}


.header-site {
  margin-left: 0;
}

.header-site-title {
  color: black;
  font-size: 24px;
  line-height: 45px;
  text-decoration: none;
}

.header-site, .header-user {
  display: inline-block;
}

.header-user {
  float: right;
  max-height: none;
  overflow: hidden;
}

/**** - view 

   Is used to contain view specific components, it main responsibitlity is to 
   provide vertical spacing between it and the header.  

*/
.view {
  margin: 10px 0 0 0;
}


/*** - layout 

  columns provide horizontal positioning and spacing
*/

.leftColumn {
  margin: 0 10px 0 10px;
}

.rightColumn {
  margin: 10px 10px 0 10px;
}

/* Use Two column layout when you can fit two cards on the screent
  
    Card width x2 + margin x2
*/
@media screen and ( min-width: 720px ) {

  .leftColumn{
    width: 345px; /* A card width */
    float: left;
  }

  .rightColumn {
    margin: 0 10px 0 365px;
  }

}


/*** - Card list - ***/


.card-list-filter {
  background-color: #fafafa;
  display: block;
  height: 40px;
  margin: 5px 0 5px 0;
  width: 345px;
  
}

.card-list-filter-item {
  font-size: 24px;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border: 1px solid #fafafa;
  
}

.card-list-filter-item.selected,
.card-list-filter-item:hover {
   border: 1px solid rgba( 175, 47, 47, 0.2 );
   cursor: pointer; cursor: hand;
}

/**** - Card general ****/

.cardlist {
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

.cardlist .card {
    margin: 0 10px 10px 0;
    float: left;
}

.card {
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fafafa;
    height: 230px;
    width: 345px;
 }

.card-title {
    font-size: 24px;
    margin: 5px 0 0 5px;
    text-overflow: ellips;
}

.card-text {
    font-size: 24px;
    height: 120px;
    margin: 5px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.card-action-bar {
    height: 50px;

    position: absolute;

    bottom: 0;
    left: 0;
}

.card-button {
    background-color: #fafafa;
    border: none;
    display: inline-block;
    font-size: 24px;
    line-height: 45px;
    margin: 0 0 0 5px;
    height: 50px;
}

.card-button:focus { 
    background-color: #e1e1e1;
    outline: none;
}

.card-button:hover {
    background-color: #e1e1e1;
    cursor: pointer; cursor: hand;     
}

.card_is_complete {
  text-decoration: line-through;
}

/****  Card readonly ****/
.card-readonly textarea {
  background-color: #fafafa;
  border: none !important;
  outline: 0 none;
  resize: none;
  width: 331px;  /* Based on a card being 345px wide */
   
}


/****  Card editable ****/
.card-editor input[type="text"], .card-editor textarea {
  border: none !important;
  outline: 0 none;
}


.card-editor input[type="text"] {
  width: 334px;  /* Based on a card being 345px wide */
}

.card-editor textarea {
  resize: none;
  width: 334px;  /* Based on a card being 345px wide */
}


/**** Errors ****/

.text-field.has_an_error {
  background-color: #f2dede;
}